<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" type="text/css" href="../static/css/SignUp.css">
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
	<link rel="SHORTCUT ICON" href="../static/img/icon.ico" type="image/x-icon">
	<title>SignIn</title>
</head>
<body>
	<form class="form" action="" method="POST">
		<div class="container">
			<div class="wrapper">
				<div class="title">
					<img src="../static/img/logo.png" alt="">
					<h1 >Авторизация</h1></div>
					<div class="">
					<div class="login">	
						<div class="obj">
							<label for="Input-Field"> 
								<p>Логин</p>
							</label>
							<div class="Input-Field">
								<input id="text_login" type="text" placeholder="Login" name="login">
							</div>
						</div>
					</div>
					<div class="password-main">	
						<div class="obj">
							<label for="Input-Field"> 
								<p>Пароль</p>
							</label>
							<div class="Input-Field">
								<input  type="password" id="password-input" placeholder="Password" name="password">
								<a href="#" class="password-control">Показать пароль</a>
							</div>
						</div>
					</div>

					<div class="remember">
						<input type="checkbox" id="cb1"> <label for="cb1">Запомнить вход</label>
					</div>


					<div class="button">
						<input type="submit" title="Войти" class="closing-button"></input>
					</div>
					<div class="errors"></div>


				</div>
			</div>
		</а>
	</body>
	</html>